/* home client base slider styles */
/* .slick-slide {
  padding: 0 10px; 
}

.slick-list {
  margin: 0 -10px; 
}

.slick-slide{
  padding: 10px 20px;
} */

/* .slick-track{
  margin-bottom: 20px;
} */